doctype html
html
  head
    title= `SD The God`

  body
    h1 SD The God
    ul.side_nav
        li#nav_item.others
            a(href="#") Home
        li#nav_items.others
            a(href='#') About
        li#nav_items.others
            a(href='#') Music
        li#nav_items.others
            a(href='#') Videos
        li#nav_items.others
            a(href='#') Shop
        li#nav_items.others
            a(href='#') Gallery
        li#nav_items.others
            a(href='#') Tour
        li#nav_items.others
            a(href='#') Contact