doctype html
html
  head
    title= `SD The God`

  body
    block navbar
        ul
            li
                a(href="/home") Home
            li
                a(href='/about') About
            li
                a(href='/music') Music
            li
                a(href='/videos') Videos
            li
                a(href='/shop') Shop
            li
                a(href='/gallery') Gallery
            li
                a(href='/tour') Tour
            li
                a(href='/contact') Contact
    block content